<div class="container">
  <h1 class="display-4">Restaurant Details</h1>
  <h2 class="display-6"><%= @restaurant.name %></h2>
  <p>Category: <%= @restaurant.category.capitalize %></p>
  <p>Address: <%= @restaurant.address %></p>
  <p>Telephone: <%= @restaurant.phone_number %></p>

  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= review.content %>
        <span class="badge bg-primary rounded-pill"><%= review.rating %></span>
      </li>
    <% end %>
  </ul>
  <br>
  <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "text-decoration-none" %>
  <br>
  <%= link_to "All Restaurants", restaurants_path, class: "text-decoration-none" %>
</div>
