<h1>Restaurant Details</h1>
<h2><%= @restaurant.name %></h2>
<p>Category: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Telephone: <%= @restaurant.phone_number %></p>

<%= link_to "All Restaurants", restaurants_path %>
